<div id="<%= dom_id @restaurant %>">
<p>Name: <%= @restaurant.name %><br>
Address: <%= @restaurant.address %><br>
Phone: <%= @restaurant.phone_number %><br>
Category: <%= @restaurant.category %></p>
</div>
